<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
     <!-- BEGIN 2.3.0 -->  
    <add key="FirebaseNotifSound" value="default" />
    <add key="FirebaseURL" value="https://fcm.googleapis.com/fcm/send" />
    <!--Feyverly DEV-->
    <add key="FirebaseAuth" value="key=AAAAC3JtvLo:APA91bGzJlLPUSB0N82SsebqL3b9OvY8UB-upLOdWC1EF8l-Hk2bnxm2NwC3mKjpqfCzmuI4PZYmVj8dM5bDKEpOhSZ_6P_SnmwLe7JD_UUxS-nlVbOChJnDgeID7JZOoz8y2DXjvKY9" />
 
    <add key="default_radius" value="10" />
    <add key="default_landmark_lat" value="13.765148" />
    <add key="default_landmark_lng" value="100.538306" />
    <add key="pickup_url" value="http://203.154.162.242/MobileServices/Lexus/images/pickup/pickup-1.pdf" />
    <add key="dealer_appointment_url" value="http://203.154.162.242/MobileServices/Lexus/images/appointment/appointment.pdf" />
    <add key="booking_image_url" value="http://203.154.162.242/MobileServices/Lexus/images/" />
    <add key="start_history_event_date" value="2020-08-27" />
    <add key="max_history_event" value="5" />
    <add key="max_history_onlinebooking" value="5" />
    <add key="service_reminder_key" value="sr817f123m400v798d168z548z231c798b" />
    <add key="term_cond_booking_url" value="http://d-pdpa.feyverly-dev.com/Pages/TermsAndCondition.aspx?{0}&amp;{1}&amp;content_type=terms_privacy" />
    <add key="notificationURL" value="https://lexuselitedev.page.link/fxvFuRp6PNmX6JE6A" />
    <add key="service_reminder_push_time" value="11:30" />
    <add key="banner_online_booking_text" value="Online Booking" />
    <!--Feyverly -->
    <add key="service_reminder_tricker_url" value="http://203.154.162.242/MobileServices/Lexus/api/2.0/service-reminder/tricker" />
    <!--DEV TCAP -->
    <!--<add key="service_reminder_tricker_url" value="http://dev.lexus-app.com/api/2.0/service-reminder/tricker" />-->
    <!-- END 2.3.0-->

  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: {168A5B8E-27B0-4800-B41A-6198EB3F8F08}-->
