<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="LexusCustImgPath" value="images/cust"/>-->
    <add key="LexusCustImgPath" value="MobileServices/Lexus/images/cust/" />
    <!--<add key="LexusSMSURL" value="http://110.49.202.31:4651" />
    <add key="LexusSMSFrom" value="LEXUS" />
    <add key="LexusSMSCharge" value="66626019003" />
    <add key="LexusSMSCode" value="45140011004" />-->
    <add key="LexusSMSURL" value="http://110.49.200.190:4651" />
    <add key="LexusSMSFrom" value="LEXUS" />
    <add key="LexusSMSCharge" value="66626019003" />
    <add key="LexusSMSCode" value="45140011004" />
    <add key="version" value="2" />
	  <!--<add key="LexusDBConn" value="Server=sql-lexus-dev.database.windows.net;Initial Catalog=sql-lexus-dev;User ID=lexusadmin;Password=Test@123;Pooling=true;MultipleActiveResultSets=true ;max pool size=100;Connection Timeout=60;"/>-->
	  <!--<add key="LexusDBConn" value="Server=sql-lexus-production2.database.windows.net; Initial Catalog=lexusdbpro2;Database=lexusdbpro2;User Id=lexusadmindb2;Password=BBPQurkUbaBwaXpClTb0WJBKhLLN;"/>-->
    <!--<add key="LexusDBConn" value="Server=(localdb)\Projects;Initial Catalog=sql-lexus-dev;Database=sql-lexus-dev;Trusted_Connection=True;Pooling=false;"/>-->
    <!--<add key="LexusDBConn" value="Server=sql-lexus-dev.database.windows.net;Initial Catalog=sql-lexus-dev;User ID=lexusadmin;Password=Test@123;Pooling=false;"/>-->
    <add key="LexusDBConn" value="Server=feyverly-dev.com;Initial Catalog=LexusDBDev20200518;Database=LexusDBDev20200518;User ID=sa;Password=Feyverlydev99999;Pooling=false;" />
    <!--<add key="LexusDBConn" value="Server=feyverly-dev.com;Initial Catalog=sql-lexus-dev;Database=sql-lexus-dev;User ID=sa;Password=Feyverlydev99999;Pooling=false;" />-->
    <!--<add key="LexusDBConn" value="Server=sql-lexus-pro.database.windows.net;Initial Catalog=sql-lexus-dev;Database=sql-lexus-dev;User ID=ferverlyadmin;Password=LY68UzJedxHc3Neb;Pooling=false;" />-->
    <add key="WARNING_TARGET_MOBILE" value="" />
    <add key="ACCOUNT_SMS" value="ferverly@nsis" />
    <add key="PASSWORD_SMS" value="BB76C2C1DD14126E180D5DF7F3A184B5F1133FCBF324C2557EEAA3146443386A" />
    <add key="upload_excel" value="http://www.lexus-app.com/admin/Excel/" />
    <add key="upcoming_gallery_path" value="http://203.154.162.242/MobileServices/Lexus/up_coming/{0}" />
    <add key="TitleFirstLogin" value="First Login" />

    <add key="ProfileImagePath" value="D:\\Fv_Project\\lexus-svc\\com.lexus.th" />
    
    <add key="ExportPathExcelOriginal" value="D:\\Fv_Project\\lexus-svc\\com.lexus.th\\ExportExcelForAttachEmail\\OriginalFile" />
    <add key="ExportPathExcel" value="D:\\Fv_Project\\lexus-svc\\com.lexus.th\\ExportExcelForAttachEmail" />
    <!--<add key="mail_server" value="mail.feyverly.com" />
    <add key="mail_port" value="587" />
   
    <add key="mail_user_name" value="YuSOgplmd95KTDmdTliCdemHNzzEzmQIILX36hUVSU4AfWK4NJgVRuksm23l/9WP" />
    
    <add key="mail_password" value="YuSOgplmd95KTDmdTliCdRyv6oqatV4mc97BeBwM7WoDEzOlnzVvuAP+TstwhvMA" />
    <add key="mail_display_name" value="kNHWrywURydVoJDyX9D7IGglYLipGdgVnwDF0iwsJS8=" />-->
    
    <add key="mail_server" value="smtp.sendgrid.net" />
    <add key="mail_port" value="587" />
    <add key="mail_user_name" value="S58C+v5AWIhm4TtqcVbHqQ==" />
    <!--<add key="mail_user_name" value="mUyLBIFceN4PPhaphS4XifMudS0PKbmKiTdMp3IfwASDPKpRAfTPAw4FY7aODRYVCR9dVOsYJJoaBLcmkr83KFCtud8TT2TWfTXPqlKMLVK0yhRCu23zAPbFgGI7lw5+vG3qViNGei4Mx3toV7ZfbQ==" />-->
    <!--<add key="mail_password" value="VHCxEEcvym1bP+vl705qgYyfsdiZPLyWCexRblS2kjiRFwo2f11dGtks5CAQS6t9" />-->
    <add key="mail_password" value="1VPNpm9xN0kamBpiJ+6sX4YxHu4BsFSRLM6GpVBQvhCHS1c6y/ofbLYZ+8rzFjQlBN7OiSNfLDH9BSlOG9mTjJVqS+y3T3zdUuC1QQf/Ui1+WfyCT7vGs2TvJPGsg0hs2kfYx3nWFvJMhcOEqLTq3ueyGz/TrLKkLQLdmS7F07LorYD1OgRisugivT32LObB" />

    <add key="mail_display_name" value="3tFqEJpuneBMSTQuAsQuKucw3qgpsi17u1CGlaiVc3n3Sk5PEUS/38NZqGACA6U6" />
    

    <add key="mail_sender" value="zAYnpoU/gTKlZ+7LY1aAVaZdQBLi1XHVKt4kfQ/7wINeFDROEI/RS3jOLpueN9uINMhqgR7FlZSuJpB88KX8+A==" />
    <add key="enable_ssl" value="false" />
                                     
    <!--<add key="survey_url2" value="http://203.154.162.242/web-lexus-survey/pages/Survey?surveyid=1&amp;deviceid=070FC3F4-D6B1-4413-A650-D11BC1A250D9&amp;lang=th"/>-->
    
    <add key="survey_url_member" value="http://203.154.162.242/web-lexus-survey/pages/Survey?surveyid={0}&amp;{1}&amp;{2}&amp;lang={3}" />
    <add key="survey_url_guest" value="http://203.154.162.242/web-lexus-survey/pages/Survey?surveyid={0}&amp;{1}&amp;lang={2}" />

    <add key="term_cond_url" value="http://d-pdpa.feyverly-dev.com/Pages/TermsAndCondition.aspx?{0}&amp;{1}&amp;content_type=terms_privacy" />
    <add key="term_polic_url" value="http://d-pdpa.feyverly-dev.com/Pages/TermsPolicy.aspx?{0}&amp;{1}&amp;content_type=terms_privacy" />
    
    <add key="LexusURL" value="http://203.154.162.242" />
    <add key="error_log_path" value="C:\\inetpub\\wwwroot\\MobileServices\\Lexus\\logs\\MBKService_log_{0}.txt" />

    <add key="TreasureDataKey" value="9478/716e6d1525937fbe94b344eb5a4f3c0490e658ab" />
    <add key="TreasureDataDBName" value="lx_eliteapp" />
    <add key="TreasureDataAddEventURL" value="https://in.treasuredata.com/postback/v3/event/{0}/{1}" />

    <!--DEV-->
    <add key="TreasureDataTableName_appointment" value="test_service" />
    <add key="TreasureDataTableName_testdrive" value="test_testdrive" />
    <!--Production-->
    <!--<add key="TreasureDataTableName" value="service"/>-->
    
     <!-- BEGIN 2.3.0 -->  
    <add key="FirebaseNotifSound" value="default" />
    <add key="FirebaseURL" value="https://fcm.googleapis.com/fcm/send" />
    <!--Feyverly DEV-->
    <add key="FirebaseAuth" value="key=AAAAC3JtvLo:APA91bGzJlLPUSB0N82SsebqL3b9OvY8UB-upLOdWC1EF8l-Hk2bnxm2NwC3mKjpqfCzmuI4PZYmVj8dM5bDKEpOhSZ_6P_SnmwLe7JD_UUxS-nlVbOChJnDgeID7JZOoz8y2DXjvKY9" />
 
    <add key="default_radius" value="10" />
    <add key="default_landmark_lat" value="13.765148" />
    <add key="default_landmark_lng" value="100.538306" />
    <add key="pickup_url" value="http://203.154.162.242/MobileServices/Lexus/images/pickup/pickup-1.pdf" />
    <add key="dealer_appointment_url" value="http://203.154.162.242/MobileServices/Lexus/images/appointment/appointment.pdf" />
    <add key="booking_image_url" value="http://203.154.162.242/MobileServices/Lexus/images/" />
    <add key="start_history_event_date" value="2020-08-27" />
    <add key="max_history_event" value="5" />
    <add key="max_history_onlinebooking" value="5" />
    <add key="service_reminder_key" value="sr817f123m400v798d168z548z231c798b" />
    <add key="term_cond_booking_url" value="http://d-pdpa.feyverly-dev.com/Pages/TermsAndCondition.aspx?{0}&amp;{1}&amp;content_type=terms_privacy" />
    <add key="notificationURL" value="https://lexuselitedev.page.link/fxvFuRp6PNmX6JE6A" />
    <add key="service_reminder_push_time" value="11:30" />
    <add key="banner_online_booking_text" value="Online Booking" />
    <!--Feyverly -->
    <add key="service_reminder_tricker_url" value="http://203.154.162.242/MobileServices/Lexus/api/2.0/service-reminder/tricker" />
    <!--DEV TCAP -->
    <!--<add key="service_reminder_tricker_url" value="http://dev.lexus-app.com/api/2.0/service-reminder/tricker" />-->
    <!-- END 2.3.0-->

  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: {168A5B8E-27B0-4800-B41A-6198EB3F8F08}-->