<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--Feyverly -->
    <!--<add key="url" value="http://203.154.162.242/MobileServices/Lexus/api/2.0/service-reminder/tricker" />-->
    <!--DEV TCAP -->
    <!--<add key="url" value="http://dev.lexus-app.com/api/2.0/service-reminder/tricker" />-->
    <!--PROD TCAP -->
    <add key="url" value="https://www.lexus-app.com/v3/api/api/2.0/service-reminder/tricker" />
  </appSettings>
</configuration>